.content2{
  margin-top:2%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.75);
}
.thumb img{
	border-radius: 5px;
  height:390px;
  width:60%;
  float:left;
  margin-left:-1.9%;
}

.thumb .caption{
    float:right;
    width:38%;
    margin-left:1px;
}
.caption .heade{
	font-weight:bold;
	}
.caption .contente{
	margin-top:30px;
	}
.caption .button{
	margin-top:50px;
}
@media screen and (max-width: 600px){
	.content2{
  margin-top:2%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.75);
}
.thumb img{
	border-radius: 5px;
  height:390px;
  width:60%;
  float:left;
  margin-left:-1.9%;
}

.thumb .caption{
    float:right;
    width:38%;
    margin-left:1px;
}
.caption .heade{
	font-weight:bold;
	}
.caption .contente{
	margin-top:30px;
	}
.caption .button{
	margin-top:50px;
}
}
@media (max-width: 460px) {
	.col-lg-8{
		padding:0;
	}
	.content2{
  		border-radius: 5px;
  		-webkit-border-radius: 5px;
  		-moz-border-radius: 5px;
  		box-shadow: 6px 6px 10px rgba(0,0,0,0.75);
		margin-top:20px;
		margin-bottom: 20px;
	}
	.thumb img{
		height:310px;
		width:99.9%;
		float:none;
		margin:0;
		padding:0;
		border-radius: 5px;
	}
	.thumb .caption{
		float:none;
		width:100%;
	}
	.caption .heade{
		margin-left:1%;
		margin-top:2%;
		font-weight:bold;
		font-size:18px;
	}
	.caption .contente{
		margin-left:2%;
		margin-top:5px;
		font-size:16px;
	}
	.btn{
		margin-left:2%;
		height:auto;
    	margin-bottom:1%;
}
}

@media screen and (max-width: 328px){
	.content2{
  		border-radius: 5px;
  		-webkit-border-radius: 5px;
  		-moz-border-radius: 5px;
  		box-shadow: 6px 6px 10px rgba(0,0,0,0.75);
		margin-top:20px;
		margin-bottom: 20px;
	}
	.col-lg-8{
		padding:0;
	}
	.thumb img{
		height:260px;
		width:99.7%;
		float:none;
		margin:0;
		padding:0;
		border-radius: 5px;
	}
	.thumb .caption{
		float:none;
		width:100%;
	}
	.caption .heade{
		margin-left:1%;
		margin-top:2%;
		font-weight:bold;
		font-size:18px;
	}
	.caption .contente{
		margin-left:2%;
		margin-top:5px;
		font-size:16px;
	}
	.btn{
		margin-left:2%;
		height:auto;
    	margin-bottom:1%;
}
	

}
