{% extends "blog/master.html" %}
{% block title %}{{ post.title }}{% endblock %}
 
{% block content %}
<style>
    .body{
        margin-bottom:5%;
        width:100%;
    }
   .home{
        text-align:center;
    }
</style>
<div class ="bbody">
    <h2 class="title">{{ post.title }}</h2>
    <h5 class="small"><i class="icon-calendar2"></i> {{ post.publish }} <i class="icon-user"></i> {{ post.author }}</h5>
    <p class="body">{{ post.content | safe  }}</p>

   <div class="fb-comments" data-href="{{ post.get_absolute_url }}" data-width="100%" data-numposts="5"></div>
</div>
{% endblock %}
