{% extends "blog/master.html" %}

{% block content %}
<style>

	.sidebar{
    margin-left:4%;

}
.icon-rss3{color:orange; }
</style>
		<div class="bbody">
			<div class ="sidebar">
				<h1 class="title"><i class="icon-fire"></i> Trending <i class="icon-fire"></i></h1><hr>
				
				<ul>
					{% for post in posts %}
					<li><h3><a target="_blank" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3></li>
					{% endfor %} 
				</ul>
					<div class="share">
						<a href="http://www.facebook.com/sharer/sharer.php?u=http://dekutshades.tk"><i class="icon-facebook2"></i></a>
						<a href="whatsapp://send" data-href="http://dekutshades.tk"><i class="icon-whatsapp"></i>
						<i class="icon-twitter2"></i>
						<a href="{% url "blog:post_feed" %}" target="_blank"><i class="icon-rss3"></i></a>
					</div><br><br>
				

				<h3 class="title"><b> Subscribe to our email </b></h3><hr>
					<form action="." method="post">
						{% if messages %}
 					    {% for message in messages %}
 					    <ul>
 					    	<li><i class="icon-warning"></i> {{ message }} </li>
 					    </ul>
 					    {% endfor %}
 					    {% endif %}

 						{% for field in form %}
 						<div class="form-group row">
 							<div class="col-md-12 field">
								<label for="message">{{field.name }} </label>
								
								 {{ field }}
								 {% csrf_token %}
							
							</div>
						</div>
 						{% endfor %}

						 <div class="form-group row">
							<div class="col-md-12 field">
								<button type="submit" id="submit" class="btn btn-primary" >Subscribe</button>
							</div>
						</div>
					</form>
				<br>
			</div> 

			
			<h1 class="title"> News </h1><hr>
			{% for post in posts %}
				<div class="mainbbody">
				<!-- Blog article-->
					<h3 class="title">{{ post.title }}</h3>
					<img class="introimg" src ="{{ post.image.url }}">	
					<h5 class="small"><i class="icon-calendar2"></i> {{ post.publish }} <i class="icon-user"></i> {{ post.author }}</h5>
					<p>{{ post.body|truncatewords:30|linebreaks }}</p>
					<a href="{{ post.get_absolute_url }}"><button class="btn btn-primary" >Read More</button></a>
					<hr>
				</div>
				{% endfor %}				
				<!-- end -->
			
		</div>		
		{% include "blog/pagination.html" with page=posts %}
{% endblock %}