{% extends "home/master.html" %}
{% block content %}
<style>
.home{
        text-align:center;
    }
</style>

		<div id="fh5co-media-section">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h3>Top Finnest Freshers</h3>
			</div>
		</div>
		
		<!--  article-->
		{% for fresher in freshers %}
		<div class="content2 col-lg-8 animate-box">
			<div class ="thumb">
					<img  src="{{ fresher.image.url }}" >
					<div class="caption">
						<h3 class="heade">{{ fresher.title }} </h3>
						<p class="contente">{{ fresher.body }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	<a class="home" href="/"><h3>Home <i class="icon-backward"></i></h3></a>
		
{% endblock %}	

		